{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>achievements</title>
    <link rel="stylesheet" href="{% static 'background.css' %}">
    <link rel="stylesheet" href="{% static 'achievements.css' %}">
    <style>
          .lmain{display: inline-block;
            width: 23%; }
        .rmain{display: inline-block;
            width: 23%; }
        .cmain{display: inline-block;
            width:50%; }
        table, th, td {
    border: 1px solid black;}
         .lcontact{display: inline-block;
            width: 50%; }
        .rcontact{display: inline-block;
            width: 49%;
       }
        .contact{display: inline-block;
            width:100%; }
    </style>
</head>
<body>
<div class="main">
    <div align="center" class="lmain" ><img src="{% static 'logo.png' %}" width="100px" height="100px"></div>
    <div align="center" class="cmain"><h2>Anurag Group of Institutions</h2><h2>IOT Club</h2></div>
    <div align="center" class="rmain"><img src="{% static 'Iot.png' %}" width="70px" height="80px"></div>
</div>

<div class="lnk" align="right" style="padding-right:30px; ">
    <a href="../">homepage</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../course">Course objectives</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../workshops" >Workshops organised</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../achievements">achievements</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../corebody">corebody</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../projects">Projects</a>
</div>
<h2 class="chead" align="center">List of achievements</h2>
<h3 align="center">Smart India Hackathon 2018 conducted by AICTE New Delhi in collaboration with Ministry for HRD</h3>
<table style="width:80%" align="center">

    <tr>
    <th>S.No</th>
    <th>Student Name</th>
    <th>Year</th>
    <th>Project Title</th>
    <th>Description</th>
  </tr>
    <tr><td colspan="5" align="center">TEAM 1</td></tr>
  <tr>
    <td align="center">1</td>
    <td align="center">Mr. K Sai Rajeev</td>
    <td align="center">IV-II</td>
    <td align="center" rowspan="6">Smart Farming
</td>
    <td align="center" rowspan="6">Real time identification of crops, weeds, diseases and pest damage and nutrient deficiency symptoms</td>
  </tr>
<tr>
    <td align="center">2</td>
    <td align="center">Mr. R. Surya Teja</td>
    <td align="center">IV-II</td>

     </tr>
    <tr>
    <td align="center">3</td>
    <td align="center">Ms. K. Akshaya Reddy</td>
    <td align="center">IV-II</td>

     </tr>
        <tr>
    <td align="center">4</td>
    <td align="center">Ms. M Tejaswini Reddy</td>
    <td align="center">IV-II</td>

     </tr>
     <tr>
    <td align="center">5</td>
    <td align="center">Ms. M. Snigdha</td>
    <td align="center">IV-II</td>
     </tr>
    <tr>
    <td align="center" >6</td>
    <td align="center">Ms. G. Likitha</td>
    <td align="center">IV-II</td>

     </tr>
    <tr ><td colspan="5" align="center">Team 2</td></tr>
    <tr>
    <td align="center">1</td>
    <td align="center">Mr. N. Uthej Kumar</td>
    <td align="center">III-II</td>
    <td align="center" rowspan="6">Katracker
    </td><td align="center"td rowspan="6">The Mobile App for farmers to track the location of domestic animals.</td>
     </tr>
   <tr>
    <td align="center">2</td>
    <td align="center">Mr. A. Sumanth Kumar</td>
    <td align="center">III-II</td>

     </tr>

        <tr>
    <td align="center">3</td>
    <td align="center">Mr. K. Vignesh Reddy</td>
    <td align="center">III-II</td>

     </tr>
     <tr>
    <td align="center">4</td>
    <td align="center">Ms. Ayushi Jain</td>
    <td align="center">III-II</td>

     </tr>
    <tr>
    <td align="center">5</td>
    <td align="center">Mr. A. Nikhil</td>
    <td align="center">III-II</td>

     </tr>
    <tr>
    <td align="center">6</td>
    <td align="center">Mr. V. Abhinav</td>
    <td align="center">III-II</td>

     </tr>
    <tr><td colspan="5" align="center">Achievement</td></tr>
    <tr><td colspan="5" align="center">Innovation award from Deloitte for the Application “KATracker” and a Cash Prize of Rs.10,000 in Smart India Hackathon 2018 conducted by AICTE during 30th & 31st March 2018.</td></tr>
</table>
<h3 align="center">Smart City Hackathon 2018  conducted by TASK Telangana</h3>
<table style="width:80%" align="center">
    <tr>
    <th>S.No</th>
    <th>Student Name</th>
    <th>Year</th>
    <th>Project Title</th>
    <th>Description</th>
  </tr>

    <tr><td colspan="5" align="center">Team 1</td></tr>
    <tr>
    <td align="center">1</td>
    <td align="center">Mr. N. Uthej Kumar</td>
    <td align="center">III-II</td>
    <td align="center" rowspan="5">ShieldMaps
    </td><td align="center" rowspan="5">It will give notification about Accident Prone Areas </td>
     </tr>
   <tr>
    <td align="center">2</td>
    <td align="center">Mr. A. Sumanth Kumar</td>
    <td align="center">III-II</td>

     </tr>


    <tr>
    <td align="center">3</td>
    <td align="center">Mr. V. Abhinav</td>
    <td align="center">III-II</td>

     </tr>
    <tr>
    <td align="center">4</td>
    <td align="center">Mr. Bhargav Ram</td>
    <td align="center">III-II</td>

     </tr>
    <tr>
    <td align="center">5</td>
    <td align="center">Mr.Suryateja Yamasani</td>
    <td align="center">III-II</td>

     </tr>
    <tr><td colspan="5" align="center">Team 2</td></tr>
    <tr>
    <td align="center">1</td>
    <td align="center">Mr.Thirutopu Pranay Tej</td>
    <td align="center">III-II</td>
    <td align="center" rowspan="6">GHMC App
    </td><td rowspan="6" align="center">sewerage management System: It tracks all house hold locations for dry waste garbage collection</td>
     </tr>
   <tr>
    <td align="center">2</td>
    <td align="center">Ms.Gona sadvitha</td>
    <td align="center">III-II</td>
   </tr>
    <tr>
    <td align="center">3</td>
    <td align="center">Ms.M Poojitha</td>
    <td align="center">III-II</td>
   </tr>
    <tr>
    <td align="center">4</td>
    <td align="center">M.Naidu Elizebethrani</td>
    <td align="center">III-II</td>
   </tr>
    <tr>
    <td align="center">5</td>
    <td align="center">Ms.Rishitha Reddy</td>
    <td align="center">III-II</td>
   </tr>
<tr>
    <td align="center">6</td>
    <td align="center">Mr.Ponnam Murali Krishna</td>
    <td align="center">III-II</td>
   </tr>


</table>
<br/><br/>
<h3 align="center">ISTE Kerala Government  Engineering Design National Award 2017 at ISTE Annual Convention, Meghalaya</h3>
<table style="width:80%" align="center">
    <tr>
    <th>S.No</th>
    <th>Student Name</th>
    <th>Year</th>
    <th>Project Title</th>
    <th>Description</th>
  </tr>
    <tr>
    <td align="center">1</td>
    <td align="center">Mr.K. Sai Rajeev</td>
    <td align="center">IV-II</td>
    <td align="center">“Smart Agriculture and Disease Detection”
    </td><td align="center">Real time identification of crops, weeds, diseases and pest damage and nutrient deficiency symptoms</td>
    </tr></table>
<br/><br/>
<h3 align="center">7th CSI In-APP NATIONAL STUDENT PROJECT AWARDS 2018</h3>
<table style="width:80%" align="center">
    <tr>
    <th>S.No</th>
    <th>Student Name</th>
    <th>Year</th>
    <th>Project Title</th>
    <th>Description</th>
  </tr>
    <tr>
    <td align="center">1</td>
    <td align="center">Ms.Aishwarya</td>
    <td align="center">IV-II</td>
    <td align="center">Digital Vocalizer
    </td ><td align="center">It will convert Gesture into Voice using IOT System</td>
    </tr></table>
<br/><br/>
<h3 align="center"> ICT Academy Student Innovator Award 2017 at CMR Technical Campus, Hyderabad</h3>
<table style="width:80%" align="center">
    <tr>
    <th>S.No</th>
    <th>Student Name</th>
    <th>Year</th>
    <th>Project Title</th>
    <th>Description</th>
  </tr>
    <tr>
    <td align="center">1</td>
    <td align="center">Mr.K. Sai Rajeev</td>
    <td align="center">IV-II</td>
    <td align="center">“Smart Agriculture and Disease Detection”
    </td><td align="center">Real time identification of crops, weeds, diseases and pest damage and nutrient deficiency symptoms</td>
    </tr>
    <tr>
    <td align="center">2</td>
    <td align="center">Mr. P Manoj Kumar</td>
    <td align="center">IV-II</td>
    <td align="center">Surveillance Using Image Processing and Machine Learning
    </td><td align="center">Using this system we can reduce the storage cost and Maintenance cost while capturing the video and image using surveillance camera.</td>
    </tr>
</table>
<br/>
<div class="contact">
<div class="lcontact" align="center">
    <p>Address</p>
   <p>Anurag Group of Institutions</p>
   <p>Venkatapur, Ghatkesar,</p>
   <p>Medchal (Dist.), Hyderabad,</p>
  <p>Telangana, INDIA - 500 088</p>

</div>
    <div class="rcontact" align="center">
        <p>Contact Details</p>
        <p>Mr. G. Balram:</p>
        <p>9492064511</p>
        <p>balramcse@cvsr.ac.in</p>
    </div>
</div>




</body>
</html>