{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>course</title>
      <link rel="stylesheet" href="{% static 'background.css' %}">
    <style>
         .lmain{display: inline-block;
            width: 23%; }

        .rmain{display: inline-block;
            width: 23%; }
        .cmain{display: inline-block;
            width:50%; }
         .lcontact{display: inline-block;
            width: 50%; }
        .rcontact{display: inline-block;
            width: 49%;
       }
        .contact{display: inline-block;
            width:100%;
        }
    </style>
</head>
<body>
<div class="main">
    <div align="center" class="lmain" ><img src="{% static 'logo.png' %}" width="100px" height="100px"></div>
    <div align="center" class="cmain"><h2>Anurag Group of Institutions</h2><h2>IOT Club</h2></div>
    <div align="center" class="rmain"><img src="{% static 'Iot.png' %}" width="70px" height="80px"></div>
</div>
<div class="lnk" align="right" style="padding-right:30px; ">
    <a href="../">homepage</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../course">Course objectives</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../workshops" >Workshops organised</a>&nbsp&nbsp&nbsp&nbsp
        <a href="../achievements">achievements</a>&nbsp&nbsp&nbsp&nbsp
            <a href="../corebody">corebody</a>&nbsp&nbsp&nbsp&nbsp

                <a href="../projects">Projects</a>&nbsp&nbsp&nbsp&nbsp
</div>
<h3 h2 class="chead" align="center">Projects</h3>
   <table >
       <tr>
           <td>
               Title
           </td>
           <td>
               Link
           </td>
       </tr>
       <tr>
           <td >
               FarmSecure
           </td>
           <td>
               <a href="https://github.com/alimisumanth/FarmSecure/">link</a>
           </td>
       </tr>
       <tr>
           <td>
               Hand gesture wheel chair for blind and handicapped
           </td>
           <td>
              </td>
       </tr>
       <tr>
           <td>
               Smart Shopping Cart
           </td>
           <td>
           </td>
       </tr><tr>
           <td>
               Student attendence system using RFID
           </td>
           <td>
           </td>
       </tr><tr>
           <td>
               Sound Trooper
           </td>
           <td>
           </td>
       </tr><tr>
           <td>
               Smart Surveillance system
           </td>
           <td>
           </td>
       </tr><tr>
           <td>
               forest fire detection
           </td>
           <td>
           </td>
       </tr><tr>
           <td>
               Dynamic Traffic Signal
           </td>
           <td>
           </td>
       </tr><tr>
           <td>
               smart blind stick
           </td>
           <td>
           </td>
       </tr><tr>
           <td>
               SMART DOOR BELL
           </td>
           <td>
           </td>
       </tr><tr>
           <td>
               SMART PARKING
           </td>
           <td>
           </td>
       </tr><tr>
           <td>
               Smart Security System for Women Safety
           </td>
           <td>
           </td>
       </tr><tr>
           <td>
               smart belt( for blind people)
           </td>
           <td>
           </td>
       </tr>
       <tr>
           <td>
               Beacon
           </td>
           <td>
           </td>
       </tr>
       <tr>
           <td>
               Patient Monitoring
           </td>
           <td>
           </td>
       </tr>
       <tr>
           <td>
               Smart Locker
           </td>
           <td>
           </td>
       </tr>
</table>




















<br/>
<div class="contact">
<div class="lcontact" align="center">
    <p>Address</p>
   <p>Anurag Group of Institutions</p>
   <p>Venkatapur, Ghatkesar,</p>
   <p>Medchal (Dist.), Hyderabad,</p>
  <p>Telangana, INDIA - 500 088</p>

</div>
    <div class="rcontact" align="center">
        <p>Contact Details</p>
        <p>Mr. G. Balram:</p>
        <p>9492064511</p>
        <p>balramcse@cvsr.ac.in</p>
    </div>
</div>


</body>
</html>