{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workshops</title>
     <link rel="stylesheet" href="{% static 'background.css' %}">
    <link rel="stylesheet" href="{% static 'workshops.css' %}">
    <style>
         .lmain{display: inline-block;
            width: 23%; }
        .rmain{display: inline-block;
            width: 23%; }
        .cmain{display: inline-block;
            width:50%; }
        table, th, td {


} .lcontact{display: inline-block;
            width: 50%; }
        .rcontact{display: inline-block;
            width: 49%;
       }
        .contact{display: inline-block;
            width:100%; }
    </style>
</head>
<body>
<div class="main">
    <div align="center" class="lmain" ><img src="{% static 'logo.png' %}" width="100px" height="100px"></div>
    <div align="center" class="cmain"><h2>Anurag Group of Institutions</h2><h2>IOT Club</h2></div>
    <div align="center" class="rmain"><img src="{% static 'Iot.png' %}" width="70px" height="80px"></div>
</div>

<div class="lnk" align="right" style="padding-right:30px; ">
    <a href="../">homepage</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../course">Course objectives</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../workshops" >Workshops organised</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../achievements">achievements</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../corebody">corebody</a>&nbsp&nbsp&nbsp&nbsp
    <a href="../projects">Projects</a>
</div>
<h2 class="chead" align="center">List of trainings conducted</h2>
<table style="width:80%" align="center">
    <tr>
    <th align="center">S.No</th>
    <th>Name of the event/ workshop training</th>
    <th>No. of students participated</th>
    <th>Dates & Duration</th>
    <th>Resource person</th>
  </tr>
  <tr>
    <td align="center">1</td>
    <td align="center">Internet of Things</td>
    <td align="center">53</td>
    <td align="center">28.09.2016 &
29.09.2016
</td>
    <td align="center">Mr.Srinath </td>
  </tr>
<tr>
    <td align="center">2</td>
    <td align="center">Internet of Things</td>
    <td align="center">28</td>
    <td align="center">08.10.2016
</td>
    <td align="center">Mr.B.Krishna Chaitanya  </td>
  </tr>
    <tr>
    <td align="center">3</td>
    <td align="center">Internet of Things</td>
    <td align="center">28</td>
    <td align="center">22.10.2016
</td>
    <td align="center">Mr.B.Krishna Chaitanya  </td>
  </tr>
        <tr>
    <td align="center">4</td>
    <td align="center">Internet of Things</td>
    <td align="center">28</td>
    <td align="center">05.11.2016
</td>
    <td align="center">Mr.B.Krishna Chaitanya  </td>
  </tr>
     <tr>
    <td align="center">5</td>
    <td align="center">Internet of Things</td>
    <td align="center">28</td>
    <td align="center">12.11.2016
</td>
    <td align="center">Mr.B.Krishna Chaitanya  </td>
  </tr>
    <tr>
    <td align="center">6</td>
    <td align="center">Internet of Things</td>
    <td align="center">24</td>
    <td align="center">08.05.2017
</td>
    <td align="center">Mr.G. Balaram  </td>
  </tr>
    <tr>
    <td align="center">7</td>
    <td align="center">Internet of Things</td>
    <td align="center">24</td>
    <td align="center">09.05.2017
</td>
    <td align="center">Mr.G. Balaram  </td>
  </tr>
        <tr>
    <td align="center">8</td>
    <td align="center">Internet of Things</td>
    <td align="center">60</td>
    <td align="center">05.09.2017
</td>
    <td align="center">Mr.G. Balaram  </td>
  </tr>
     <tr>
    <td align="center">8</td>
    <td align="center">Internet of Things</td>
    <td align="center">60</td>
    <td align="center">06.09.2017
</td>
    <td align="center">Mr.G. Balaram  </td>
  </tr>
  <tr>
    <td align="center">9</td>
    <td align="center">Internet of Things</td>
    <td align="center">43</td>
    <td align="center">30.04.2018
</td>
    <td align="center">Mrs.Pradeepti, Mr.Bardwaj</td>
  </tr>
<tr>
    <td align="center">10</td>
    <td align="center">Internet of Things</td>
    <td align="center">47</td>
    <td align="center">01.05.2018
</td>
    <td align="center">Mrs.Pradeepti, Mr.Bardwaj</td>
  </tr>

</table>
<br/>
<div class="contact">
<div class="lcontact" align="center">
    <p>Address</p>
   <p>Anurag Group of Institutions</p>
   <p>Venkatapur, Ghatkesar,</p>
   <p>Medchal (Dist.), Hyderabad,</p>
  <p>Telangana, INDIA - 500 088</p>

</div>
    <div class="rcontact" align="center">
        <p>Contact Details</p>
        <p>Mr. G. Balram:</p>
        <p>9492064511</p>
        <p>balramcse@cvsr.ac.in</p>
    </div>
</div>

</body>
</html>